/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:27px!important;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    font-weight: bold!important;
    -webkit-text-stroke: 0.5px black!important;
    color: white!important;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*Modificaciones para app*/
.ui-page {
    background:  transparent url(../img/concierto.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centerdiv{
    width: 250px;
    height: 150px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.wrapper{min-height:100%; min-width: 100%; position:relative}

.table{
    display: table;
}

.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell;
}
.divfullsize{
    width: inherit;
}
.oculto{
    display:none;
}

/*Comportamiento responsive*/
.responsive_span4 {
    width: 50%; 
}
.centrado{
    margin:0 auto!important;
    position:relative!important;
    float:none!important;
}
.tile-group{
    padding-top: 3px!important;
}
.vertical-group{
    width: 120px;
    height: 250px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
    float: left;
}
.cuadro-cuadro{
    display: block;
    float: left;
    width: 510px;
    height: 510px;
}
.cuadro-doble{
    display: block;
    float: left;
    width: 510px;
    height: 250px;
}
.doble-doble{
    display: block;
    float: left;
    width: 250px;
    height: 250px;
}

/*@media only screen and (max-width: 1200px) and (min-width: 820px) {
	.ver-landscape-tablet {
		display: block; 
	}
    .ocultar-landscape-tablet {
		display: none; 
	}
}
#content-page{
    width: 100%;
    padding-top: 25px;
}
#content-page,#content-row{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 820px) {
	#content-row {
		width: 550px!important; 
	}
}
@media only screen and (max-width: 1200px) and (min-width: 820px) {
	#content-row {
		width: 860px!important; 
	}
}
@media only screen and (min-width: 1200px){
	#content-row {
		width: 1100px!important; 
	}
}*/

/*Para el Menu*/

a { text-decoration: none; }
 
a i {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
 
nav {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  position: fixed;
  right: -300px;
  top: 0;
  -moz-transition: right 0.2s linear;
  -o-transition: right 0.2s linear;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
  width: 300px;
  z-index: 9001;/* IT'S OVER 9000! */
}
 
nav #menuToggle {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  height: 40px;
  left: -50px;
  top: 5px;
  width: 50px;
}
 
nav #menuToggle span {
  background: white;
  display: block;
  height: 10%;
  left: 10%;
  position: absolute;
  top: 45%;
  width: 80%;
}

nav #menuToggle span:before,
nav #menuToggle span:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: -250%;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 100%;
}
 
nav #menuToggle span:after { top: 250%; }
 
nav a:nth-child(n+2) {
  color: white;
  display: block;
  font-size: 2.5em;
  margin: 30px 0 30px 30px;
}
 
nav a:nth-child(n+2):after {
  background: #ffa53e;
  content: '';
  display: block;
  height: 2px;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 0;
}
 
nav a:nth-child(n+2):hover:after { width: 100%; }
 
.open { right: 0; }
 
.open #menuToggle span {
  background: transparent;
  left: 10%;
  top: 45%;
}
 
.open #menuToggle span:before,
.open #menuToggle span:after {
  background: white;
  top: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
 
.open #menuToggle span:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
 
#menuToggle .navClosed {
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
 
#menuToggle .navClosed:before,
#menuToggle .navClosed:after {
  -moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s;
  -o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transition-delay: 0.1s, 0.1s;
  transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s;
}
 
#menuToggle .navOpen {
  -moz-transition: background 0.1s linear 0.2s;
  -o-transition: background 0.1s linear 0.2s;
  -webkit-transition: background 0.1s linear;
  -webkit-transition-delay: 0.2s;
  transition: background 0.1s linear 0.2s;
}
 
#menuToggle .navOpen:before,
#menuToggle .navOpen:after {
  -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
  -o-transition: top 0.2s linear, -o-transform 0.2s linear;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
  transition: top 0.2s linear, transform 0.2s linear;
}

/*Modificaciones para nuevo aspecto*/

.grilla{
    width: 100%;
}

body>.ametrocontenido{
    width:100%!important;
    height: 100%!important;
    padding: 0px 0px 0px 9px;
}
.ametrocontenido .simplerow{
    width:50%;
    padding: 3px 3px 3px 3px;
    display: block;
    float: left;
}
.ametrocontenido .simple{
    width:50%;
    padding: 3px 6px 3px 3px;
    display: block;
    float: left;
}
.ametrocontenido .simple>.simple{
    padding: 0px 6px 0px 0px;
}
.ametrocontenido .simpleheight{
    height:50%;
}
.ametrocontenido .doble{
    width:100%;
    padding: 3px 9px 3px 3px;
}
.ametrocontenido .full{
    width: 100%!important;
    height: 100%!important;
}
.simple>.tile-group{
    min-width: 0px!important;
}
.metro .tile .tile-content.icon [class*="icon-"], .metro .tile .tile-content.icon img{
    text-align: center!important;
    display: table-cell!importan;
    width: 100%!important;
    height: 100%!important;
    vertical-align: middle!important;
    /*font-size: 8vw!important;*/
}
